<!-- <div class="parent">
    <div class="div1">
        <span class="e1_17">Background</span>
        <span class="e1_18">Math</span>
        <span class="e1_20">Physics</span>
        <span class="e1_22">Algorithms</span>
        <span class="e2_23">DJ</span>
        <span class="e2_25">Grover’s</span>
        <span class="e2_26">SC</span>
        <span class="e2_27">QT</span>
        <span class="e2_28">Shor’s</span>
        <span class="e3_29">About</span>
    </div>
    <div class="div2">
        <span class="e1_12">QUANTUM</span>
    </div>
</div> -->

<!-- <div class="container">
    <div class="left">
        <span>Background</span>
        <span>Math</span>
        <span>Physics</span>
        <span>Algorithms</span>
        <span>DJ</span>
        <span>Grover’s</span>
        <span>SC</span>
        <span>QT</span>
        <span>Shor’s</span>
        <span>About</span>
    </div>
    <div class="right"></div>
  </div> -->

<div class="parent">
<div><!-- sidebar -->
    <h1>Background</h1>
    <h1>Math</h1>
    <h1>Physics</h1>
    <h1>Algorithms</h1>
    <h1>DJ</h1>
    <h1>Grover’s</h1>
    <h1>SC</h1>
    <h1>QT</h1>
    <h1>Shor’s</h1>
    <h1>About</h1>
</div>
<div><!-- non-sidebar -->

</div>
</div>